.cardProducto,
img {
  border-radius: 1rem;
  box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.botonProd {
  margin-top: 10px;
  float: right;
  width: 100px;
  font-weight: bold;
  font-size: 1.2rem;
}

h3 {
  margin-top: 5px;
  font-weight: bold;
}

.texto {
  font-size: 1.3rem;
}
