body {
  background-color: rgb(114, 112, 119) !important;
}

body h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 5rem;
  color: rgb(34, 33, 33);
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  color: white;
  z-index: 10;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
