body {
  background-color: rgb(134, 133, 133) !important;
}

body h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 5rem;
  color: rgb(34, 33, 33);
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.menu {
  background-color: black;
}
